
.h11 {
    background-color:#4aaaa5;
    color: #ffffff;
    height: 122%;
    text-align: center;
    margin-top: -12px;
    width: 300px;

}
.nopad {
    padding: 0;
}
.padtop {
    padding-top: 10vh;
}
.backround {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png");
    margin-top: 500px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-top: -25px;
    padding-top: 35px;
}
footer {
    background-color: #666666;
    width: 100%;
    display: table;
    margin: 0 auto;
    position: relative;
    border-top: 8px solid #4aaaa5;
}

.copyright {
    position: relative;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    font-size: 10px;
}
.form {
    width: 968px;  
    background-color: #ffffff;
    padding-top: 20px;
}  
    
header {
    height: 55px;
}
.width {
    width: 968px;
    height: 20px;
}
.card-body {
    padding-left: 10%;
}
.wbackround {
    background-color: #ffffff;
}
h2 {
    color: #4aaaa5;

}
img {
    margin-left: 15%;
}
