
.h1 {
    background-color:#4aaaa5;
    color: #ffffff;
    height: 122%;
    text-align: center;
    margin-top: -2.65%;
    width: 64%;
    
}
.nopad {
    padding: 0;
}
.padtop {
    padding-top: 10vh;
}
.backround {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png");
    margin-top: 500px;
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-top: -2.2%;
    padding-top: 5%;
}
footer {
    background-color: #666666;
    width: 100%;
    display: table;
    margin: 0 auto;
    position: relative;
    border-top: 8px solid #4aaaa5;
}

.copyright {
    position: relative;
    text-align: center;
    color: #ffffff;
    padding-top: 30px;
    font-size: 10px;
}
.form {
    width: 100%;  
    background-color: #ffffff;
    padding-top: 3%;
}  
    
header {
    height: 55px;
}
.width {
    width: 968px;
    height: 20px;
}

}
.wbackround {
    background-color: #ffffff;
}
h2 {
    color: #4aaaa5;

}
img {
    margin-left: 15%;
}
.col-md-auto {
    width: 75%;
    margin-left: 3%;
}
@media screen and (max-width: 640px) {
    h1 {
        margin-top: -2.2%;
        width: 300%;
        padding-left: 60%;
        margin-left: -17%;
        height: 100%;
        width: 300%;